<div class="pagination">
	<div class="description">
		Showing 1 - 10 of 100
	</div>
	<div class="numbers">
		<button class="dr-btn transparent">&lt;</button>
		<button class="dr-btn page">1</button>
		<button class="dr-btn page active">2</button>
		<button class="dr-btn page">3</button>
		<button class="dr-btn page">4</button>
		<button class="dr-btn transparent" disabled="disabled">&gt;</button>
	</div>
</div>