<div style="background: #333; padding: 20px;">
	<button class="dr-btn primary">Standard</button>
	<button class="dr-btn clear">Clear</button>
	<button class="dr-btn white">White</button>
	<button class="dr-btn primary btn-loading">
		<span class="loader-wrap">
			<span class="loader"></span>
		</span>
		<span class="btn-text">Save</span>
	</button>
	<hr/>
	<button class="dr-btn" disabled="disabled">Disabled</button>
	<button class="dr-btn clear" disabled="disabled">Clear Disabled</button>
	<button class="dr-btn white" disabled="disabled">White Disabled</button>


	<button class="dr-btn btn-loading" disabled="disabled">
		<span class="loader-wrap">
			<span class="loader"></span>
		</span>
		<span class="btn-text">Save</span>
	</button>
</div>