<table class="dr-table" width="100%">
	<thead>
		<tr>
			<th>Heading</th>
			<th>Heading 2</th>
			<th>Heading 3</th>
			<th>Heading 4</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Test</td>
			<td>Hello</td>
			<td>Hi there</td>
			<td>Another one</td>
		</tr>
		<tr>
			<td>Test</td>
			<td>Hello</td>
			<td>Hi there</td>
			<td>Another one</td>
		</tr>
		<tr>
			<td>Test</td>
			<td>Hello</td>
			<td>Hi there</td>
			<td>Another one</td>
		</tr>
	</tbody>
</table>