$black: #000000;

$bluegray900: #263238;
$bluegray600: #546E7A;
$bluegray400: #78909C;
$bluegray300: #90A4AE;
$bluegray100: #CFD8DC;
$bluegray50: #ECEFF1;

$gray700: #5E6062;
$gray600: #757575;
$gray400: #BDBDBD;
$gray300: #E0E0E0;
$gray50: #FAFAFA;

$white: #FFFFFF;

$bluea200: #448AFF;
$blue500: #2196F3;
$blue100: #BBDEFB;
$blue50: #E3F2FD;

$green700: #388E3C;
$green500: #4CAF50;
$green50: #F1F8E9;

$red700: #D32F2F;
$red500: #F44336;
$red100: #FFCDD2;
$red50: #FFEBEE;

$amber500: #FFC107;
$amber50: #FFF8E1;

$yellow50: #FFFDE7;
