Select:
<select class="dr-select">
	<option>Option 1</option>
	<option>Option 2</option>
	<option>Option 3</option>
	<option>Option 4</option>
</select>
<br/>
Text input
<input class="dr-input" type="text" placeholder="Regular text field" />
<br/>
Password input
<input class="dr-input" type="password" />
Checkbox
<br/>
<input id="check1" class="dr-checkbox" type="checkbox" />
<label for="check1">Check!</label>